<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>新浪</string>
		<key>icon</key>
		<string>wed-logo-0</string>
		<key>link</key>
		<string>http://www.sina.com.cn</string>
	</dict>
	<dict>
		<key>title</key>
		<string>亚马逊</string>
		<key>icon</key>
		<string>wed-logo-1</string>
		<key>link</key>
		<string>http://www.amazon.cn</string>
	</dict>
	<dict>
		<key>title</key>
		<string>百度</string>
		<key>icon</key>
		<string>wed-logo-2</string>
		<key>link</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>title</key>
		<string>淘宝</string>
		<key>icon</key>
		<string>wed-logo-3</string>
		<key>link</key>
		<string>http://m.taobao.com/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>58</string>
		<key>icon</key>
		<string>wed-logo-4</string>
		<key>link</key>
		<string>http://m.58.com/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>京东</string>
		<key>icon</key>
		<string>wed-logo-5</string>
		<key>link</key>
		<string>http://m.jd.com/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大众</string>
		<key>icon</key>
		<string>wed-logo-6</string>
		<key>link</key>
		<string>http://m.dianping.com</string>
	</dict>
	<dict>
		<key>title</key>
		<string>环球</string>
		<key>icon</key>
		<string>wed-logo-7</string>
		<key>link</key>
		<string>http://wap.huanqiu.com/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>艺龙</string>
		<key>icon</key>
		<string>wed-logo-8</string>
		<key>link</key>
		<string>http://m.elong.com</string>
	</dict>
	<dict>
		<key>title</key>
		<string>赶集</string>
		<key>icon</key>
		<string>wed-logo-9</string>
		<key>link</key>
		<string>http://3g.ganji.com</string>
	</dict>
	<dict>
		<key>title</key>
		<string>唯品会</string>
		<key>icon</key>
		<string>wed-logo-10</string>
		<key>link</key>
		<string>http://m.vip.com</string>
	</dict>
	<dict>
		<key>title</key>
		<string>土豆网</string>
		<key>icon</key>
		<string>wed-logo-11</string>
		<key>link</key>
		<string>http://www.tudou.com/</string>
	</dict>
</array>
</plist>
