<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>网页</string>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>百度</string>
				<key>icon</key>
				<string>Search-Web-0</string>
				<key>link</key>
				<string>http://www.baidu.com/s?wd=</string>
			</dict>
			<dict>
				<key>name</key>
				<string>UC</string>
				<key>icon</key>
				<string>Search-Web-1</string>
				<key>link</key>
				<string>http://glb.uc.cn/msearch2/webs/columbus/search?keyword=</string>
			</dict>
			<dict>
				<key>name</key>
				<string>淘宝</string>
				<key>icon</key>
				<string>Search-Web-2</string>
				<key>link</key>
				<string>http://s.taobao.com/search?q=</string>
			</dict>
			<dict>
				<key>name</key>
				<string>易查</string>
				<key>icon</key>
				<string>Search-Web-3</string>
				<key>link</key>
				<string>http://page.yicha.cn/tp/i.y?site=</string>
			</dict>
			<dict>
				<key>name</key>
				<string>谷歌</string>
				<key>icon</key>
				<string>Search-Web-4</string>
				<key>link</key>
				<string>http://www.google.com.hk/webhp?q=d#newwindow=1&amp;q=</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>新闻</string>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>百度</string>
				<key>icon</key>
				<string>Search-News-0</string>
				<key>link</key>
				<string>http://www.baidu.com/s?wd=</string>
			</dict>
			<dict>
				<key>name</key>
				<string>新浪</string>
				<key>icon</key>
				<string>Search-News-1</string>
				<key>link</key>
				<string>http://site.proc.sina.cn/search/query.php?key=</string>
			</dict>
			<dict>
				<key>name</key>
				<string>易查</string>
				<key>icon</key>
				<string>Search-News-2</string>
				<key>link</key>
				<string>http://page.yicha.cn/tp/s.y?key=</string>
			</dict>
			<dict>
				<key>name</key>
				<string>环球</string>
				<key>icon</key>
				<string>Search-News-3</string>
				<key>link</key>
				<string>http://db0.huanqiu.com/hqSou/s?words=</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>小说</string>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>一搜</string>
				<key>icon</key>
				<string>Search-Fiction-0</string>
				<key>link</key>
				<string>http://bookt.yisou.com/i.php?v=3&amp;ct=sch&amp;ac=book&amp;type=2&amp;keyword=</string>
			</dict>
			<dict>
				<key>name</key>
				<string>宜搜</string>
				<key>icon</key>
				<string>Search-Fiction-1</string>
				<key>link</key>
				<string>http://book.easou.com/s.m?q=</string>
			</dict>
			<dict>
				<key>name</key>
				<string>易查</string>
				<key>icon</key>
				<string>Search-Fiction-2</string>
				<key>link</key>
				<string>http://tbook.yicha.cn/tb/ss.y?key=</string>
			</dict>
			<dict>
				<key>name</key>
				<string>搜狗</string>
				<key>icon</key>
				<string>Search-Fiction-3</string>
				<key>link</key>
				<string>http://k.sogou.com/search?f_m=sg1&amp;keyword=</string>
			</dict>
			<dict>
				<key>name</key>
				<string>百度</string>
				<key>icon</key>
				<string>Search-Fiction-4</string>
				<key>link</key>
				<string>http://yuedu.baidu.com/search?word=</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>购物</string>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>淘宝</string>
				<key>icon</key>
				<string>Search-shop-0</string>
				<key>link</key>
				<string>http://s.taobao.com/search?q=</string>
			</dict>
			<dict>
				<key>name</key>
				<string>京东</string>
				<key>icon</key>
				<string>Search-shop-2</string>
				<key>link</key>
				<string>http://search.jd.com/Search?enc=utf-8&amp;keyword=</string>
			</dict>
			<dict>
				<key>name</key>
				<string>当当</string>
				<key>icon</key>
				<string>Search-shop-3</string>
				<key>link</key>
				<string>http://search.dangdang.com/?key=</string>
			</dict>
			<dict>
				<key>name</key>
				<string>亚马逊</string>
				<key>icon</key>
				<string>Search-shop-1</string>
				<key>link</key>
				<string>http://www.amazon.cn/s/ref=nb_sb_ss_i_0_3?field-keywords=</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>音乐</string>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>百度音乐</string>
				<key>icon</key>
				<string>Search-Music-2</string>
				<key>link</key>
				<string>http://music.baidu.com/search?key=</string>
			</dict>
			<dict>
				<key>name</key>
				<string>QQ</string>
				<key>icon</key>
				<string>Search-Music-0</string>
				<key>link</key>
				<string>http://m.y.qq.com/?ADTAG=qqbrowser#search/</string>
			</dict>
			<dict>
				<key>name</key>
				<string>易查</string>
				<key>icon</key>
				<string>Search-Music-1</string>
				<key>link</key>
				<string>http://m.yicha.cn/tm/index.html?site=&amp;at=tpage_i_tmp3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>视频</string>
		<key>item</key>
		<array>
			<dict>
				<key>name</key>
				<string>优酷</string>
				<key>icon</key>
				<string>Search-Screen-3</string>
				<key>link</key>
				<string>http://www.soku.com/search_video/q_</string>
			</dict>
			<dict>
				<key>name</key>
				<string>腾讯</string>
				<key>icon</key>
				<string>Search-Screen-2</string>
				<key>link</key>
				<string>http://v.qq.com/search.html?ms_key=</string>
			</dict>
			<dict>
				<key>name</key>
				<string>土豆</string>
				<key>icon</key>
				<string>Search-Screen-4</string>
				<key>link</key>
				<string>http://www.soku.com/t/nisearch/</string>
			</dict>
			<dict>
				<key>name</key>
				<string>搜狐</string>
				<key>icon</key>
				<string>Search-Screen-1</string>
				<key>link</key>
				<string>http://m.tv.sohu.com/so?wd=</string>
			</dict>
			<dict>
				<key>name</key>
				<string>百度</string>
				<key>icon</key>
				<string>Search-Screen-0</string>
				<key>link</key>
				<string>http://m.video.baidu.com/?fr=#search=</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
